html, body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Inter";
    color: #117a40;
    background-color: #fffffc;
} 

h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

p {
    color: black;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 4rem;
    line-height: 0.8;
}

.subtitle {
    font-weight: 200;
    font-size: 1.5rem;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 5%;
}

.report-container {
    display: flex;
    align-items: stretch;
    gap: 250px;
    margin: 100px 0 300px 0;
}



.report-content {
    flex: 1;
    max-width: 40%;
}

.report-content-two {
    flex: 1;
    margin: 0 auto;
}

.report-content-two p {
    margin: 0 auto;
    max-width: 1000px;
    text-align: left;
}

.img-header {
    color:black;
    font-size: 1.25rem;
    font-weight: 100;
    text-align: center;
}

.img-container {
    margin: 0 auto;
}

#report-two-content {
    text-align: center;
    margin: 0 auto;
}

.report-process {
  margin: 100px 0px 500px 0px;
}


.report-text {
    font-size: 1.125rem;
}

.report-data {
    flex: 2;
}

#report-two {
    margin: 0;
}


.report-findings {
    margin-bottom: 500px;
}

.report-findings p {
    max-width: 800px;
    text-align: left;
}


