html, body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Inter";
    color: #117a40;
    background-color: #fffffc;
} 

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 4rem;
    line-height: 0.8;
}

.subtitle {
    font-weight: 200;
    font-size: 1.5rem;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 5%;
}

.report-container {
    display: flex;
    align-items: stretch;
    gap: 200px;
    margin: 100px 0 300px 0;
}

.report-content {
    flex: 1;
    max-width: 40%;
}

.report-content h1 {
    font-weight: 600;
    font-size: 2.5rem;
    min-width: 20ch;
}

.report-text {
    font-size: 1.125rem;
    max-width: 60ch;
}

.report-data {
    flex: 2;
}

.tableauPlaceholder {
    width: 100%;
    max-height: 600px;
}


